.message {
  width: 100%;
  max-width: fit-content;
  margin: 0 auto 2rem;
  padding: 1rem;
  text-align: center;
  border-radius: 5px;
  color: var(--text-light);
  font-size: 1.3rem;
  overflow-wrap: anywhere;
}

.empty {
  background-color: var(--empty);
}

.duplicate {
  background-color: var(--duplicate);
}

.success {
  background-color: var(--success);
}
